@import url("https://fonts.googleapis.com/css2?family=Andada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada&family=Livvic:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

#header {
  background: #212529;
}

.module caption {
  background: #212529;
}

a:link,
a:visited {
  color: black;
}
div.breadcrumbs {
  background: #4b4a4a;
  color: black;
}

body {
  font-family: "Livvic", sans-serif;
   
}


.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #4b4a4a;
     
}