#signupform {
  color: black;
}

#loginform {
  color: black;
}

/*Login Button*/

#LoginSubmitBut {
  background-color: black;
  color: white;
  font-size: 20px;
  width: 2000px;
  border-radius: 15px;
  padding: auto;
  border: 2px solid black;
}

#LoginSubmitBut:hover {
  background-color: white;
  color: black;
}

/*End login Button*/

.modal-content {
  margin: auto;
  font-size: 17px;
  border: 2px solid #ffc39e;

  width: 90%;
  padding: 40pxblack;
  border-radius: 10px;
}

#textbelowregister {
  color: black;
}

#textbelowregister a {
  color: black;
}

#textbelowregister a:nth-child(1):hover {
  color: rgb(54, 52, 52);
}

#textbelowregister a:nth-child(2):hover {
  color: rgb(54, 52, 52);
}

.loginbuttonjava:hover {
  background-color: #e7e7e7;
  border-radius: 5px;
  color: black;
}

 
.goto {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
  color: white;
}
.goto:hover {
  background-color: white;
  color: black;
}

.feedbackpara {
  width: 90%;
  margin: auto;
  font-size: 25px;
  background-color: rgb(143, 139, 139);
}

.feedbackerpara {
  width: 90%;
  margin: auto;
  font-size: 25px;
  background-color: rgb(143, 139, 139);

  overflow: auto;
}

#loginButton {
  background-color: white;
  color: black;
}
#loginButton:hover {
  background-color: greenyellow;
  color: white;
}
#loginButton:active {
  background-color: greenyellow;
  color: white;
  border: 2px solid white;
}

.logeduserhello {
  color: #e7e7e7;
}

/*.logeduserhello:hover {
        border: 2px solid #ffc39e;

    }*/

/********************maincontent**************/

/********************ipada tablets**********/

#createusersubmit {
  width: 100%;
  background-color: blue;
}

#logInsubmit {
  width: 100%;
  background-color: blue;
}

#createusersubmit.hover {
  border: 2px solid#ffc39e;
}

/****************************900px********************/

/*******************900*****************/

/**********810px and less************/

/************1230px*****************/

/*******************1000px*******************/

/*********************500**************/
/*******************370*********************/

/*******table********/
/* .review-table {



        border-radius: 6px 6px 6px 6px;
        border: 3.5px solid black;
        color: black;
        font-size: 15px;
        margin: 10px;
        margin-bottom: 50px;
        margin-top: 100px;
        width: 80%;
    }

    table {

        color: black;
        border-spacing: 0;
        border-collapse: collapse;
        border-style: hidden;
        width: 100%;


    }







    th,
    td {
        border: 2px solid black;
        border-spacing: 5px;


    }

    th,
    td {
        padding: 15px;
    }

    th {
        color: Black;
        font-size: 15px;
    }





*/

/**********Feedback Rating*******/
.feedback {
  width: 100%;
  max-width: 780px;
  background: #fff;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}

.survey-hr {
  margin: 10px 0;
  border: 0.5px solid #ddd;
}

.star-rating {
  margin: 25px 0 0px;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 175px;
  height: 35px;
  overflow: hidden;
  position: relative;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}

.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}

.star-rating i ~ i {
  width: 40%;
}

.star-rating i ~ i ~ i {
  width: 60%;
}

.star-rating i ~ i ~ i ~ i {
  width: 80%;
}

.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}

span.scale-rating {
  margin: 5px 0 15px;
  display: inline-block;

  width: 100%;
}

span.scale-rating > label {
  position: relative;
  -webkit-appearance: none;
  outline: 0 !important;
  border: 1px solid grey;
  height: 33px;
  margin: 0 5px 0 0;
  width: calc(10% - 7px);
  float: left;
  cursor: pointer;
}

span.scale-rating label {
  position: relative;
  -webkit-appearance: none;
  outline: 0 !important;
  height: 33px;

  margin: 0 5px 0 0;
  width: calc(10% - 7px);
  float: left;
  cursor: pointer;
}

span.scale-rating input[type="radio"] {
  position: absolute;
  -webkit-appearance: none;
  opacity: 0;
  outline: 0 !important;
  /*border-right: 1px solid grey;*/
  height: 33px;

  margin: 0 5px 0 0;

  width: 100%;
  float: left;
  cursor: pointer;
  z-index: 3;
}

span.scale-rating label:hover {
  background: #fddf8d;
}

span.scale-rating input[type="radio"]:last-child {
  border-right: 0;
}

span.scale-rating label input[type="radio"]:checked ~ label {
  -webkit-appearance: none;

  margin: 0;
  background: #fddf8d;
}

span.scale-rating label:before {
  content: attr(value);
  top: 7px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}

.bookNow {
  position: fixed;
  display: none;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #e7e7e7;
  border: 1px solid black;
}

#bookNowPrice {
  margin-left: 0px;
}

#bookNowBut {
  position: absolute;
  right: 0px;
  background-color: #fddf8d;
  width: auto;
  margin-top: auto;
  padding: 11px;
  height: 47px;
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#bookNowPrice {
}
