{% extends "base.htm" %}
 {% load static %}


 {% block title%}Bookings-Barbera{% endblock title%}

 {% block activatebookings %}active{% endblock activatebookings %}


 {% block body %}



<h3>After you book something it will be shown here</h3>











 {% endblock body%}

 {% block rateUs %}

<div class="rateUs" style="
        border:2px solid black;
        border-radius:5px;
        height:40px;
        width: 100px;
        color:black;
        padding:9px;
        position:relative;
        left:80%;
         
        margin:15px;
        ">
        <a style="color: black; text-decoration:none; font-size:15px; " id="rate" href="/rate">Rate-Us</a>

    </div>



{%endblock rateUs%}


{% block js %}

{% endblock js %}
