{% extends "base.htm" %}

{% block body%}
<br><br><br><br><br>
<div style="width:70%; margin:auto; margin-bottom:100px; border:2px solid orange; padding:40px; border-radius:10px;">

    <form id="signupform" action="/creatNewUser" method="POST" style="color: black;">
        {% csrf_token %}

        
        <font style="text-align: center; font-size:32px; ">Create User</font><br><br>
        
        
        
        
        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input class="form-control" id="fName" name="fname" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input class="form-control" id="lName" name="lname" required>
        </div>
        <div class="mb-3">
            <label class="form-label">User Name</label>
            <input class="form-control" id="uname" name="uname" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp"
                name="userEmail" required>

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" required>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="pass2" name="pass2" required>
        </div>

        <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
        <button type="submit" id="logInsubmit" class="btn btn-primary">Create</button>

        <br>
        
    </form>
    <div id="textbelowregister" style="margin: 10px;">
        <a style="text-decoration: none; color:black  " href="/login">Log in with an existing account</a>
        or
        <a style="text-decoration: none; color:black" href="/homepage">Return to Store</a>
    </div>


</div>

{% endblock body%}