

<!--Male-->
<div class="box" id="male_salon">
    <br>
    <br>


    <h class="head-pri">Men's salon</h>


    <div class="icon">

        <div class="icon_text">
            <button class="icon_btn" id="m_1"></button>
            <div class="book_text">
                <p>HAIRCUT</p>
                <p id="m_1_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="m_1_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="m_1_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="m_1_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="m_2"></button>
            <div class="book_text">
                <p>SHAVING</p>
                <p id="m_2_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="m_2_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="m_2_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="m_2_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="m_3"></button>
            <div class="book_text">
                <p>HAIR COLOR</p>
                <p id="m_3_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="m_3_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="m_3_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="m_3_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="m_4"></button>
            <div class="book_text">
                <p>FACIAL</p>
                <p id="m_4_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="m_4_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="m_4_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="m_4_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="m_5"></button>
            <div class="book_text">
                <p>HEAD MASSAGE</p>
                <p id="m_5_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="m_5_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="m_5_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="m_5_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="m_6"></button>
            <div class="book_text">
                <p>BLEACH</p>
                <p id="m_6_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="m_6_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="m_6_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="m_6_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

    </div>
</div>

<hr id="female_salon">
<!--Female-->
<div class="box">
    <br><br>
    <h class="head-pri">Women's salon</h>
    <!--<div class="main">
            <div class="container">
            <button class="medbtn" id="btn_female"></button>
            </div>
            </div>-->
    <div class="icon">

        <div class="icon_text">
            <button class="icon_btn" id="fm_1"></button>
            <div class="book_text">
                <p>HAIRCUT</p>
                <p id="fm_1_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="fm_1_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="fm_1_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="fm_1_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="fm_2"></button>
            <div class="book_text">
                <p>HAIR CARE</p>
                <p id="fm_2_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="fm_2_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="fm_2_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="fm_2_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="fm_3"></button>
            <div class="book_text">
                <p>HAIR COLOR</p>
                <p id="fm_3_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="fm_3_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="fm_3_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="fm_3_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="fm_4"></button>
            <div class="book_text">
                <p>THREADING</p>
                <p id="fm_4_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="fm_4_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="fm_4_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="fm_4_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="fm_5"></button>
            <div class="book_text">
                <p>FACIAL</p>
                <p id="fm_5_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="fm_5_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="fm_5_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="fm_5_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="fm_6"></button>
            <div class="book_text">
                <p>WAXING</p>
                <p id="fm_6_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="fm_6_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="fm_6_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="fm_6_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="fm_7"></button>
            <div class="book_text">
                <p>MEHANDI</p>
                <p id="fm_7_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="fm_7_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="fm_7_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="fm_7_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="fm_8"></button>
            <div class="book_text">
                <p>BLEACH</p>
                <p id="fm_8_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="fm_8_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="fm_8_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="fm_8_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr id="wed_salon">
<!--Wedding PACKAGES-->
<div class="box">
    <br><br>
    <h class="head-pri">Wedding Packages</h>
    <!--<div class="main">
            <div class="container">
            <button class="medbtn" id="btn_wedding"></button>
            </div>
            </div>-->
    <div class="icon">

        <div class="icon_text">
            <button class="icon_btn" id="wed_1"></button>
            <div class="book_text">
                <p>BRIDE</p>
                <p id="wed_1_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="wed_1_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="wed_1_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="wed_1_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="wed_2"></button>
            <div class="book_text">
                <p>GROOM</p>
                <p id="wed_2_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="wed_2_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="wed_2_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="wed_2_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="wed_3"></button>
            <div class="book_text">
                <p>MEHANDI</p>
                <p id="wed_3_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="wed_3_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="wed_3_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="wed_3_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

        <div class="icon_text">
            <button class="icon_btn" id="wed_4"></button>
            <div class="book_text">
                <p>MAKE-UP</p>
                <p id="wed_4_price">Price1</p>
                <button class="book_btn cart_btn">Add to Cart</button>
                <button class="book_btn book_now_btn">Book Now</button>
            </div>
            <div class="variety">
                <div class="variety_btn">
                    <button class="var_btn" onclick="wed_4_disp1()">Var 1 @ Price</button>
                    <button class="var_btn" onclick="wed_4_disp2()">var 2 @ Price</button>
                </div>
                <div class="services_desc">
                    <p id="wed_4_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure
                        reprehenderit laboriosam sint laborum saepe nostrum ratione vero ullam aut veniam minus
                        dignissimos accusamus incidunt soluta, quis velit asperiores culpa!</p>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
</section>